<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/front.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Get Recommend</title>
    <style>
        #img-insert{
            background-image: url("{{url_for('static', filename='images/banner2.jpg')}}");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            backface-visibility: 0.5;
        }
    </style>
</head>
<body>
     <!-- navbar -->
     <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('sangeet')}}">
          <img src="{{ url_for('static', filename='images/web.png') }}" width="30" height="30" alt="" class="img-hover-zoom rounded-circle">
        </a>
        <a class="navbar-brand text-color" href="{{url_for('sangeet')}}">Get Recommend</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item link-info">
              <a class="nav-link text-color text-dark" href="{{url_for('about_details')}}">About</a>
            </li>
    
            <li class="nav-item">
                <a class="nav-link text-color text-dark" href="{{url_for('contact_details')}}">Contact</a>
            </li>
            {% if not session %}
            <li class="nav-item">
              <a class="nav-link text-color text-dark" href="{{url_for('login_page')}}">Login</a>
           </li>
           {% else %}
           <li class="nav-item">
            <a class="nav-link text-color text-dark btn btn-outline-light" href="{{url_for('base')}}">Let's Start</a>
         </li>
         {% endif %}
          </ul>
          {% if not session %}
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          {% else %}
          <form class="d-flex px-5">
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <button class="btn btn-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ url_for('static', filename='images/profile.png') }}" alt="" width="30" height="30" class="rounded"> {{session.userinfo.name.split(' ')[0]}}!
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="{{url_for('logout')}}">Log Out</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </form>
          {% endif %}
        </div>
      </div>
    </nav>
    
     <!-- loader -->
     <div class="loader"></div>

    <!-- contact -->
    <div class="container" id="img-insert">
        <div class=" text-center mt-5 ">
            <h1>Contact Us</h1>
        </div>

    
    <div class="row ">
      <div class="col-lg-7 mx-auto">
        <div class="card mt-2 mx-auto p-4 bg-transparent">
            <div class="card-body bg-transparent">
       
            <div class = "container">
            <form id="contact-form" role="form">

            

            <div class="controls">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_name">Firstname *</label>
                            <input id="form_name" type="text" name="name" class="form-control" placeholder="firstname" required="required" data-error="Firstname is required.">
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_lastname">Lastname *</label>
                            <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="lastname" required="required" data-error="Lastname is required.">
                                                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_email">Email *</label>
                            <input id="form_email" type="email" name="email" class="form-control" placeholder="eg.abc123@gmail.com" required="required" data-error="Valid email is required.">
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_need">Please specify your need *</label>
                            <select id="form_need" name="need" class="form-control" required="required" data-error="Please specify your need.">
                                <option value="" selected disabled>--Select Your Issue--</option>
                                <option >What can we help</option>
                                <option >Feedback</option>
                                <option >Other</option>
                            </select>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="form_message">Message *</label>
                            <textarea id="form_message" name="message" class="form-control" placeholder="Write your message here." rows="4" required="required" data-error="Please, leave us a message."></textarea
                                >
                            </div>

                        </div>


                    <div class="col-md-12">
                        
                        <input type="submit" class="btn btn-success btn-send  pt-2 btn-block
                            " value="Send Message" >
                    
                </div>
          
                </div>


        </div>
         </form>
        </div>
            </div>


    </div>
        <!-- /.8 -->

    </div>
    <!-- /.row-->

</div>
</div>

    
    <!--footer start-->
    <footer class="mt-5">
        <div class="footer-wrap">
        <div class="container first_class">
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <h3>BE THE FIRST TO KNOW</h3>
                <p>Get all the latest information on Sangeet Services, Events, Jobs
                  and Fairs. Sign up for our newsletter today.</p>
              </div>
              <div class="col-md-4 col-sm-6">
              <form class="newsletter">
                 <input type="text" placeholder="Email Address"> 
                 <button class="newsletter_submit_btn" type="submit"><i class="fa fa-paper-plane"></i></button>  
              </form>
              
              </div>
              <div class="col-md-4 col-sm-6">
              <div class="col-md-12">
                <div class="standard_social_links">
              <div>
                <li class="round-btn btn-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a>
      
                </li>
                <li class="round-btn btn-linkedin"><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
      
                </li>
                <li class="round-btn btn-twitter"><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
      
                </li>
                <li class="round-btn btn-instagram"><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
      
                </li>
                <li class="round-btn btn-whatsapp"><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
      
                </li>
                <li class="round-btn btn-envelop"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      
                </li>
              </div>
            </div>  
              </div>
                <div class="clearfix"></div>
              <div class="col-md-12"><h3 style="text-align: right;">Stay Connected</h3></div>
              </div>
            </div>
        </div>
        <div class="copyright"> Copyright 2023 | All Rights Reserved by Sangeet.</div>
        </div>
    </footer>
    <!--footer end-->
    
    <script src="{{ url_for('static', filename='loader.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- Font Awesome 5 links-->
    <script src="https://kit.fontawesome.com/fddf5c0916.js" crossorigin="anonymous"></script>
    
      
</body>
</html>